In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression, LogisticRegression
import warnings
warnings.filterwarnings('ignore')
import scorecardpy as sc
import pprint 

pd.set_option('display.max_columns', None)

In [2]:
full_data = pd.read_csv('IS453 Group Assignment - Data.csv')

#use a copy of hmeq_data for credit risk model
full_data = full_data.copy()

full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   STATUS                       307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   CNT_CHILDREN                 307511 non-null  int64
 6   AMT_INCOME_TOTAL             307511 non-null  float64
 7   AMT_CREDIT                   307511 non-null  float64
 8   AMT_ANNUITY                  307499 non-null  float64
 9   AMT_GOODS_PRICE              307233 non-null  float64
 10  NAME_TYPE_SUITE              306219 non-null  object
 11  NAME_INCOME_TYPE             307511 non-null  object
 12  NAME_EDUCATION_TYPE          307511 non-null  object
 13  NAME_FAMILY_STATUS           307511 non-null  object
 14  NAME_HOUSING_TYPE            307511 non-null  object
 15  REGION_POPULATION_RELATIVE   307511 non-null  float64
 16  DAYS_BIRTH                   307511 non-null  int64
 17  DAYS_EMPLOYED                307511 non-null  int64
 18  DAYS_REGISTRATION            307511 non-null  float64
 19  DAYS_ID_PUBLISH              307511 non-null  int64
 20  OWN_CAR_AGE                  104582 non-null  float64
 21  FLAG_MOBIL                   307511 non-null  int64
 22  FLAG_EMP_PHONE               307511 non-null  int64
 23  FLAG_WORK_PHONE              307511 non-null  int64
 24  FLAG_CONT_MOBILE             307511 non-null  int64
 25  FLAG_PHONE                   307511 non-null  int64
 26  FLAG_EMAIL                   307511 non-null  int64
 27  OCCUPATION_TYPE              211120 non-null  object
 28  CNT_FAM_MEMBERS              307509 non-null  float64
 29  REGION_RATING_CLIENT         307511 non-null  int64
 30  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 31  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 32  HOUR_APPR_PROCESS_START      307511 non-null  int64
 33  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 34  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 35  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 36  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 37  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 38  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 39  ORGANIZATION_TYPE            307511 non-null  object
 40  EXT_SOURCE_1                 134133 non-null  float64
 41  EXT_SOURCE_2                 306851 non-null  float64
 42  EXT_SOURCE_3                 246546 non-null  float64
 43  APARTMENTS_AVG               151450 non-null  float64
 44  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 45  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 46  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 47  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 48  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 49  FLAG_DOCUMENT_2              307511 non-null  int64
 50  FLAG_DOCUMENT_3              307511 non-null  int64
 51  FLAG_DOCUMENT_4              307511 non-null  int64
 52  FLAG_DOCUMENT_5              307511 non-null  int64
 53  FLAG_DOCUMENT_6              307511 non-null  int64
 54  FLAG_DOCUMENT_7              307511 non-null  int64
 55  FLAG_DOCUMENT_8              307511 non-null  int64
 56  FLAG_DOCUMENT_9              307511 non-null  int64
 57  FLAG_DOCUMENT_10             307511 non-null  int64
 58  FLAG_DOCUMENT_11             307511 non-null  int64
 59  FLAG_DOCUMENT_12             307511 non-null  int64
 60  FLAG_DOCUMENT_13             307511 non-null  int64
 61  FLAG_DOCUMENT_14             307511 non-null  int64
 62  FLAG_DOCUMENT_15             307511 non-null  int64
 63  FLAG_DOCUMENT_16             307511 non-null  int64
 64  FLAG_DOCUMENT_17             307511 non-null  int64
 65  FLAG_DOCUMENT_18             307511 non-null  int64
 66  FLAG_DOCUMENT_19             307511 non-null  int64
 67  FLAG_DOCUMENT_20             307511 non-null  int64
 68  FLAG_DOCUMENT_21             307511 non-null  int64
 69  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 70  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 71  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 72  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 73  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 74  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(23), int64(40), object(12)
memory usage: 176.0+ MB

In [3]:
working_set = full_data.copy()
working_set_orig = full_data.copy()

working_set.head()

,STATUS,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#Feature Extraction -- Combinding the Flag Documents columns 
working_set['TOTAL_FLAG_DOCUMENTS'] = working_set['FLAG_DOCUMENT_2'] + working_set['FLAG_DOCUMENT_3'] + working_set['FLAG_DOCUMENT_4'] + working_set['FLAG_DOCUMENT_5'] + working_set['FLAG_DOCUMENT_6'] + working_set['FLAG_DOCUMENT_7'] + working_set['FLAG_DOCUMENT_8'] + working_set['FLAG_DOCUMENT_9'] + working_set['FLAG_DOCUMENT_10'] + working_set['FLAG_DOCUMENT_11'] + working_set['FLAG_DOCUMENT_12'] + working_set['FLAG_DOCUMENT_13'] + working_set['FLAG_DOCUMENT_14'] + working_set['FLAG_DOCUMENT_15'] + working_set['FLAG_DOCUMENT_16'] + working_set['FLAG_DOCUMENT_17'] + working_set['FLAG_DOCUMENT_18'] + working_set['FLAG_DOCUMENT_19'] + working_set['FLAG_DOCUMENT_20'] + working_set['FLAG_DOCUMENT_21']

working_set['TOTAL_FLAG_DOCUMENTS'].head()

working_set.drop('FLAG_DOCUMENT_2', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_3', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_4', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_5', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_6', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_7', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_8', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_9', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_10', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_11', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_12', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_13', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_14', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_15', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_16', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_17', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_18', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_19', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_20', inplace=True, axis=1)
working_set.drop('FLAG_DOCUMENT_21', inplace=True, axis=1)

working_set.head(3)

,STATUS,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TOTAL_FLAG_DOCUMENTS
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,2.0,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0,0

# 1. Data Preparation

In [5]:
#Dropping Variables that result in biasedness and highly correlated ones
drop_col = ['OBS_60_CNT_SOCIAL_CIRCLE', 'AMT_GOODS_PRICE','REGION_RATING_CLIENT_W_CITY','CNT_FAM_MEMBERS',
            'LIVE_REGION_NOT_WORK_REGION','DEF_60_CNT_SOCIAL_CIRCLE','LIVE_CITY_NOT_WORK_CITY', 'AMT_GOODS_PRICE',
            'AMT_ANNUITY', 'CODE_GENDER']
working_set.drop(columns= drop_col, inplace= True)

working_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 47 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   STATUS                      307511 non-null  int64
 1   NAME_CONTRACT_TYPE          307511 non-null  object
 2   FLAG_OWN_CAR                307511 non-null  object
 3   FLAG_OWN_REALTY             307511 non-null  object
 4   CNT_CHILDREN                307511 non-null  int64
 5   AMT_INCOME_TOTAL            307511 non-null  float64
 6   AMT_CREDIT                  307511 non-null  float64
 7   NAME_TYPE_SUITE             306219 non-null  object
 8   NAME_INCOME_TYPE            307511 non-null  object
 9   NAME_EDUCATION_TYPE         307511 non-null  object
 10  NAME_FAMILY_STATUS          307511 non-null  object
 11  NAME_HOUSING_TYPE           307511 non-null  object
 12  REGION_POPULATION_RELATIVE  307511 non-null  float64
 13  DAYS_BIRTH                  307511 non-null  int64
 14  DAYS_EMPLOYED               307511 non-null  int64
 15  DAYS_REGISTRATION           307511 non-null  float64
 16  DAYS_ID_PUBLISH             307511 non-null  int64
 17  OWN_CAR_AGE                 104582 non-null  float64
 18  FLAG_MOBIL                  307511 non-null  int64
 19  FLAG_EMP_PHONE              307511 non-null  int64
 20  FLAG_WORK_PHONE             307511 non-null  int64
 21  FLAG_CONT_MOBILE            307511 non-null  int64
 22  FLAG_PHONE                  307511 non-null  int64
 23  FLAG_EMAIL                  307511 non-null  int64
 24  OCCUPATION_TYPE             211120 non-null  object
 25  REGION_RATING_CLIENT        307511 non-null  int64
 26  WEEKDAY_APPR_PROCESS_START  307511 non-null  object
 27  HOUR_APPR_PROCESS_START     307511 non-null  int64
 28  REG_REGION_NOT_LIVE_REGION  307511 non-null  int64
 29  REG_REGION_NOT_WORK_REGION  307511 non-null  int64
 30  REG_CITY_NOT_LIVE_CITY      307511 non-null  int64
 31  REG_CITY_NOT_WORK_CITY      307511 non-null  int64
 32  ORGANIZATION_TYPE           307511 non-null  object
 33  EXT_SOURCE_1                134133 non-null  float64
 34  EXT_SOURCE_2                306851 non-null  float64
 35  EXT_SOURCE_3                246546 non-null  float64
 36  APARTMENTS_AVG              151450 non-null  float64
 37  OBS_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 38  DEF_30_CNT_SOCIAL_CIRCLE    306490 non-null  float64
 39  DAYS_LAST_PHONE_CHANGE      307510 non-null  float64
 40  AMT_REQ_CREDIT_BUREAU_HOUR  265992 non-null  float64
 41  AMT_REQ_CREDIT_BUREAU_DAY   265992 non-null  float64
 42  AMT_REQ_CREDIT_BUREAU_WEEK  265992 non-null  float64
 43  AMT_REQ_CREDIT_BUREAU_MON   265992 non-null  float64
 44  AMT_REQ_CREDIT_BUREAU_QRT   265992 non-null  float64
 45  AMT_REQ_CREDIT_BUREAU_YEAR  265992 non-null  float64
 46  TOTAL_FLAG_DOCUMENTS        307511 non-null  int64
dtypes: float64(18), int64(18), object(11)
memory usage: 110.3+ MB

In [6]:
# Inspect rows missing more than 4 values &  make sure not to reduce sample size too much 
rows_w_gt_3_na = working_set[working_set.isnull().sum(axis=1) > 3].shape[0]
print('Percent of total rows missing more than 3 values: ' + str("{:.1%}".format(rows_w_gt_3_na/working_set.shape[0])))
print(rows_w_gt_3_na)

Percent of total rows missing more than 3 values: 22.4%
68762

In [7]:
working_set.dropna(thresh=working_set.shape[1]-3,inplace=True)
print("Starting row count: " + str(working_set_orig.shape[0]))
print("Ending row count: " + str(working_set.shape[0]))
print("Percent dropped: " + "{:.2%}".format(1-working_set.shape[0]/working_set_orig.shape[0]))

Starting row count: 307511
Ending row count: 238749
Percent dropped: 22.36%

In [8]:
#Check % of missing column values again with revised dataset 
col_w_na = pd.DataFrame((working_set.isnull().sum().sort_values(ascending=False)/working_set.shape[0])).applymap("{0:.0%}".format)

col_w_na.head(10)

                              0
OWN_CAR_AGE                 62%
EXT_SOURCE_1                51%
APARTMENTS_AVG              45%
OCCUPATION_TYPE             25%
EXT_SOURCE_3                 5%
NAME_TYPE_SUITE              0%
DEF_30_CNT_SOCIAL_CIRCLE     0%
OBS_30_CNT_SOCIAL_CIRCLE     0%
EXT_SOURCE_2                 0%
AMT_REQ_CREDIT_BUREAU_YEAR   0%

In [9]:
#Remove 3 variables as the amount of missing data is more than 50% 
working_set = working_set.drop(columns=['OWN_CAR_AGE','EXT_SOURCE_1'], axis=1)

working_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238749 entries, 0 to 307510
Data columns (total 45 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   STATUS                      238749 non-null  int64
 1   NAME_CONTRACT_TYPE          238749 non-null  object
 2   FLAG_OWN_CAR                238749 non-null  object
 3   FLAG_OWN_REALTY             238749 non-null  object
 4   CNT_CHILDREN                238749 non-null  int64
 5   AMT_INCOME_TOTAL            238749 non-null  float64
 6   AMT_CREDIT                  238749 non-null  float64
 7   NAME_TYPE_SUITE             237985 non-null  object
 8   NAME_INCOME_TYPE            238749 non-null  object
 9   NAME_EDUCATION_TYPE         238749 non-null  object
 10  NAME_FAMILY_STATUS          238749 non-null  object
 11  NAME_HOUSING_TYPE           238749 non-null  object
 12  REGION_POPULATION_RELATIVE  238749 non-null  float64
 13  DAYS_BIRTH                  238749 non-null  int64
 14  DAYS_EMPLOYED               238749 non-null  int64
 15  DAYS_REGISTRATION           238749 non-null  float64
 16  DAYS_ID_PUBLISH             238749 non-null  int64
 17  FLAG_MOBIL                  238749 non-null  int64
 18  FLAG_EMP_PHONE              238749 non-null  int64
 19  FLAG_WORK_PHONE             238749 non-null  int64
 20  FLAG_CONT_MOBILE            238749 non-null  int64
 21  FLAG_PHONE                  238749 non-null  int64
 22  FLAG_EMAIL                  238749 non-null  int64
 23  OCCUPATION_TYPE             179900 non-null  object
 24  REGION_RATING_CLIENT        238749 non-null  int64
 25  WEEKDAY_APPR_PROCESS_START  238749 non-null  object
 26  HOUR_APPR_PROCESS_START     238749 non-null  int64
 27  REG_REGION_NOT_LIVE_REGION  238749 non-null  int64
 28  REG_REGION_NOT_WORK_REGION  238749 non-null  int64
 29  REG_CITY_NOT_LIVE_CITY      238749 non-null  int64
 30  REG_CITY_NOT_WORK_CITY      238749 non-null  int64
 31  ORGANIZATION_TYPE           238749 non-null  object
 32  EXT_SOURCE_2                238499 non-null  float64
 33  EXT_SOURCE_3                226088 non-null  float64
 34  APARTMENTS_AVG              130342 non-null  float64
 35  OBS_30_CNT_SOCIAL_CIRCLE    238459 non-null  float64
 36  DEF_30_CNT_SOCIAL_CIRCLE    238459 non-null  float64
 37  DAYS_LAST_PHONE_CHANGE      238749 non-null  float64
 38  AMT_REQ_CREDIT_BUREAU_HOUR  238749 non-null  float64
 39  AMT_REQ_CREDIT_BUREAU_DAY   238749 non-null  float64
 40  AMT_REQ_CREDIT_BUREAU_WEEK  238749 non-null  float64
 41  AMT_REQ_CREDIT_BUREAU_MON   238749 non-null  float64
 42  AMT_REQ_CREDIT_BUREAU_QRT   238749 non-null  float64
 43  AMT_REQ_CREDIT_BUREAU_YEAR  238749 non-null  float64
 44  TOTAL_FLAG_DOCUMENTS        238749 non-null  int64
dtypes: float64(16), int64(18), object(11)
memory usage: 83.8+ MB

In [10]:
#Remove missing values 
working_set.dropna(inplace=True)
working_set.isna().sum()

STATUS                        0
NAME_CONTRACT_TYPE            0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
CNT_CHILDREN                  0
AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
REGION_POPULATION_RELATIVE    0
DAYS_BIRTH                    0
DAYS_EMPLOYED                 0
DAYS_REGISTRATION             0
DAYS_ID_PUBLISH               0
FLAG_MOBIL                    0
FLAG_EMP_PHONE                0
FLAG_WORK_PHONE               0
FLAG_CONT_MOBILE              0
FLAG_PHONE                    0
FLAG_EMAIL                    0
OCCUPATION_TYPE               0
REGION_RATING_CLIENT          0
WEEKDAY_APPR_PROCESS_START    0
HOUR_APPR_PROCESS_START       0
REG_REGION_NOT_LIVE_REGION    0
REG_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY        0
REG_CITY_NOT_WORK_CITY        0
ORGANIZATION_TYPE             0
EXT_SOURCE_2                  0
EXT_SOURCE_3                  0
APARTMENTS_AVG                0
OBS_30_CNT_SOCIAL_CIRCLE      0
DEF_30_CNT_SOCIAL_CIRCLE      0
DAYS_LAST_PHONE_CHANGE        0
AMT_REQ_CREDIT_BUREAU_HOUR    0
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
TOTAL_FLAG_DOCUMENTS          0
dtype: int64

In [11]:
working_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83445 entries, 0 to 307510
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATUS                      83445 non-null  int64
 1   NAME_CONTRACT_TYPE          83445 non-null  object
 2   FLAG_OWN_CAR                83445 non-null  object
 3   FLAG_OWN_REALTY             83445 non-null  object
 4   CNT_CHILDREN                83445 non-null  int64
 5   AMT_INCOME_TOTAL            83445 non-null  float64
 6   AMT_CREDIT                  83445 non-null  float64
 7   NAME_TYPE_SUITE             83445 non-null  object
 8   NAME_INCOME_TYPE            83445 non-null  object
 9   NAME_EDUCATION_TYPE         83445 non-null  object
 10  NAME_FAMILY_STATUS          83445 non-null  object
 11  NAME_HOUSING_TYPE           83445 non-null  object
 12  REGION_POPULATION_RELATIVE  83445 non-null  float64
 13  DAYS_BIRTH                  83445 non-null  int64
 14  DAYS_EMPLOYED               83445 non-null  int64
 15  DAYS_REGISTRATION           83445 non-null  float64
 16  DAYS_ID_PUBLISH             83445 non-null  int64
 17  FLAG_MOBIL                  83445 non-null  int64
 18  FLAG_EMP_PHONE              83445 non-null  int64
 19  FLAG_WORK_PHONE             83445 non-null  int64
 20  FLAG_CONT_MOBILE            83445 non-null  int64
 21  FLAG_PHONE                  83445 non-null  int64
 22  FLAG_EMAIL                  83445 non-null  int64
 23  OCCUPATION_TYPE             83445 non-null  object
 24  REGION_RATING_CLIENT        83445 non-null  int64
 25  WEEKDAY_APPR_PROCESS_START  83445 non-null  object
 26  HOUR_APPR_PROCESS_START     83445 non-null  int64
 27  REG_REGION_NOT_LIVE_REGION  83445 non-null  int64
 28  REG_REGION_NOT_WORK_REGION  83445 non-null  int64
 29  REG_CITY_NOT_LIVE_CITY      83445 non-null  int64
 30  REG_CITY_NOT_WORK_CITY      83445 non-null  int64
 31  ORGANIZATION_TYPE           83445 non-null  object
 32  EXT_SOURCE_2                83445 non-null  float64
 33  EXT_SOURCE_3                83445 non-null  float64
 34  APARTMENTS_AVG              83445 non-null  float64
 35  OBS_30_CNT_SOCIAL_CIRCLE    83445 non-null  float64
 36  DEF_30_CNT_SOCIAL_CIRCLE    83445 non-null  float64
 37  DAYS_LAST_PHONE_CHANGE      83445 non-null  float64
 38  AMT_REQ_CREDIT_BUREAU_HOUR  83445 non-null  float64
 39  AMT_REQ_CREDIT_BUREAU_DAY   83445 non-null  float64
 40  AMT_REQ_CREDIT_BUREAU_WEEK  83445 non-null  float64
 41  AMT_REQ_CREDIT_BUREAU_MON   83445 non-null  float64
 42  AMT_REQ_CREDIT_BUREAU_QRT   83445 non-null  float64
 43  AMT_REQ_CREDIT_BUREAU_YEAR  83445 non-null  float64
 44  TOTAL_FLAG_DOCUMENTS        83445 non-null  int64
dtypes: float64(16), int64(18), object(11)
memory usage: 29.3+ MB

In [13]:
#Generate WOE Bins 

# automatically calculate bin ranges 
bins = sc.woebin(working_set, y='STATUS')

# make it easy to read the bins
for variables , bindetails in bins.items():
    print(variables , " : ")
    display(bindetails)
    print("--"*50)

[INFO] creating woe binning ...
>>> There are 1 variables have too many unique non-numberic values, which might cause the binning process slow. Please double check the following variables:
ORGANIZATION_TYPE
>>> Continue the binning process?
1: yes
2: no
Binning on 83445 rows and 44 columns in 00:00:23
NAME_EDUCATION_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_EDUCATION_TYPE,"Academic degree%,%Higher education",25830,0.309545,24509,1321,0.051142,-0.396824,0.041237,0.055959,"Academic degree%,%Higher education",False
1,NAME_EDUCATION_TYPE,"Incomplete higher%,%Secondary / secondary spec...",57615,0.690455,52744,4871,0.084544,0.141677,0.014723,0.055959,"Incomplete higher%,%Secondary / secondary spec...",False

----------------------------------------------------------------------------------------------------
NAME_TYPE_SUITE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_TYPE_SUITE,"Group of people%,%Other_B%,%Children%,%Family",11263,0.134975,10476,787,0.069875,-0.064786,0.000551,0.000634,"Group of people%,%Other_B%,%Children%,%Family",False
1,NAME_TYPE_SUITE,"Other_A%,%Spouse, partner%,%Unaccompanied",72182,0.865025,66777,5405,0.074880,0.009793,0.000083,0.000634,"Other_A%,%Spouse, partner%,%Unaccompanied",False

----------------------------------------------------------------------------------------------------
DEF_30_CNT_SOCIAL_CIRCLE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DEF_30_CNT_SOCIAL_CIRCLE,"[-inf,1.0)",74188,0.889065,68903,5285,0.071238,-0.043999,0.001689,0.013359,1.0,False
1,DEF_30_CNT_SOCIAL_CIRCLE,"[1.0,inf)",9257,0.110935,8350,907,0.097980,0.303953,0.011670,0.013359,inf,False

----------------------------------------------------------------------------------------------------
DAYS_REGISTRATION  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DAYS_REGISTRATION,"[-inf,-9500.0)",8190,0.098148,7724,466,0.056899,-0.284074,0.007024,0.014815,-9500.0,False
1,DAYS_REGISTRATION,"[-9500.0,-8500.0)",5392,0.064617,5036,356,0.066024,-0.125609,0.000967,0.014815,-8500.0,False
2,DAYS_REGISTRATION,"[-8500.0,-1000.0)",56970,0.682725,52751,4219,0.074057,-0.002157,0.000003,0.014815,-1000.0,False
3,DAYS_REGISTRATION,"[-1000.0,inf)",12893,0.154509,11742,1151,0.089273,0.201287,0.006822,0.014815,inf,False

----------------------------------------------------------------------------------------------------
DAYS_EMPLOYED  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DAYS_EMPLOYED,"[-inf,-4200.0)",15125,0.181257,14474,651,0.043041,-0.577772,0.047506,0.086465,-4200.0,False
1,DAYS_EMPLOYED,"[-4200.0,-2000.0)",22553,0.270274,21131,1422,0.063051,-0.174849,0.007672,0.086465,-2000.0,False
2,DAYS_EMPLOYED,"[-2000.0,-1400.0)",11018,0.132039,10166,852,0.077328,0.044610,0.000268,0.086465,-1400.0,False
3,DAYS_EMPLOYED,"[-1400.0,inf)",34749,0.416430,31482,3267,0.094017,0.258284,0.031019,0.086465,inf,False

----------------------------------------------------------------------------------------------------
FLAG_OWN_CAR  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_OWN_CAR,Y,31286,0.37493,29251,2035,0.065045,-0.141590,0.007078,0.010946,Y,False
1,FLAG_OWN_CAR,N,52159,0.62507,48002,4157,0.079699,0.077379,0.003868,0.010946,N,False

----------------------------------------------------------------------------------------------------
REGION_POPULATION_RELATIVE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REGION_POPULATION_RELATIVE,"[-inf,0.02)",43192,0.517610,39852,3340,0.077329,0.044626,0.001051,0.023477,0.02,False
1,REGION_POPULATION_RELATIVE,"[0.02,0.03)",21437,0.256900,19687,1750,0.081635,0.103485,0.002875,0.023477,0.03,False
2,REGION_POPULATION_RELATIVE,"[0.03,0.04)",10766,0.129019,10045,721,0.066970,-0.110364,0.001499,0.023477,0.04,False
3,REGION_POPULATION_RELATIVE,"[0.04,inf)",8050,0.096471,7669,381,0.047329,-0.478315,0.018052,0.023477,inf,False

----------------------------------------------------------------------------------------------------
DAYS_LAST_PHONE_CHANGE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DAYS_LAST_PHONE_CHANGE,"[-inf,-2200.0)",9093,0.108970,8635,458,0.050368,-0.412882,0.015611,0.033883,-2200.0,False
1,DAYS_LAST_PHONE_CHANGE,"[-2200.0,-1300.0)",21454,0.257103,20094,1360,0.063391,-0.169109,0.006844,0.033883,-1300.0,False
2,DAYS_LAST_PHONE_CHANGE,"[-1300.0,-700.0)",16180,0.193900,14948,1232,0.076143,0.027889,0.000153,0.033883,-700.0,False
3,DAYS_LAST_PHONE_CHANGE,"[-700.0,inf)",36718,0.440026,33576,3142,0.085571,0.154876,0.011276,0.033883,inf,False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_HOUR  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_HOUR,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_YEAR  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_YEAR,"[-inf,2.0)",43430,0.520463,40464,2966,0.068294,-0.089371,0.004002,0.009907,2.0,False
1,AMT_REQ_CREDIT_BUREAU_YEAR,"[2.0,4.0)",26154,0.313428,24116,2038,0.077923,0.052921,0.000898,0.009907,4.0,False
2,AMT_REQ_CREDIT_BUREAU_YEAR,"[4.0,5.0)",6378,0.076434,5864,514,0.080590,0.089464,0.000636,0.009907,5.0,False
3,AMT_REQ_CREDIT_BUREAU_YEAR,"[5.0,inf)",7483,0.089676,6809,674,0.090071,0.211057,0.004371,0.009907,inf,False

----------------------------------------------------------------------------------------------------
TOTAL_FLAG_DOCUMENTS  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,TOTAL_FLAG_DOCUMENTS,"[-inf,1.0)",8733,0.104656,8358,375,0.042941,-0.580221,0.027635,0.030113,1.0,False
1,TOTAL_FLAG_DOCUMENTS,"[1.0,inf)",74712,0.895344,68895,5817,0.077859,0.052029,0.002478,0.030113,inf,False

----------------------------------------------------------------------------------------------------
APARTMENTS_AVG  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,APARTMENTS_AVG,"[-inf,0.02)",9879,0.118389,8910,969,0.098087,0.305163,0.012560,0.024658,0.02,False
1,APARTMENTS_AVG,"[0.02,0.04)",5890,0.070585,5384,506,0.085908,0.159177,0.001914,0.024658,0.04,False
2,APARTMENTS_AVG,"[0.04,0.17)",51769,0.620397,47995,3774,0.072901,-0.019134,0.000225,0.024658,0.17,False
3,APARTMENTS_AVG,"[0.17,inf)",15907,0.190629,14964,943,0.059282,-0.240509,0.009959,0.024658,inf,False

----------------------------------------------------------------------------------------------------
WEEKDAY_APPR_PROCESS_START  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,WEEKDAY_APPR_PROCESS_START,SUNDAY,4529,0.054275,4215,314,0.069331,-0.073184,0.000282,0.000574,SUNDAY,False
1,WEEKDAY_APPR_PROCESS_START,"SATURDAY%,%MONDAY",23193,0.277944,21500,1693,0.072996,-0.017723,0.000087,0.000574,"SATURDAY%,%MONDAY",False
2,WEEKDAY_APPR_PROCESS_START,"FRIDAY%,%WEDNESDAY",27920,0.334592,25844,2076,0.074355,0.002192,0.000002,0.000574,"FRIDAY%,%WEDNESDAY",False
3,WEEKDAY_APPR_PROCESS_START,THURSDAY,13647,0.163545,12618,1029,0.075401,0.017291,0.000049,0.000574,THURSDAY,False
4,WEEKDAY_APPR_PROCESS_START,TUESDAY,14156,0.169645,13076,1080,0.076293,0.030010,0.000155,0.000574,TUESDAY,False

----------------------------------------------------------------------------------------------------
OCCUPATION_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,OCCUPATION_TYPE,"IT staff%,%Accountants",4823,0.057799,4614,209,0.043334,-0.570689,0.014822,0.080739,"IT staff%,%Accountants",False
1,OCCUPATION_TYPE,"Managers%,%Core staff%,%High skill tech staff%...",32364,0.387848,30592,1772,0.054752,-0.324802,0.035670,0.080739,"Managers%,%Core staff%,%High skill tech staff%...",False
2,OCCUPATION_TYPE,"Cleaning staff%,%Sales staff%,%Laborers%,%Secu...",46258,0.554353,42047,4211,0.091033,0.222740,0.030247,0.080739,"Cleaning staff%,%Sales staff%,%Laborers%,%Secu...",False

----------------------------------------------------------------------------------------------------
AMT_CREDIT  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_CREDIT,"[-inf,200000.0)",7990,0.095752,7506,484,0.060576,-0.217545,0.004132,0.052231,200000.0,False
1,AMT_CREDIT,"[200000.0,650000.0)",40845,0.489484,37262,3583,0.087722,0.182054,0.017534,0.052231,650000.0,False
2,AMT_CREDIT,"[650000.0,850000.0)",12503,0.149835,11589,914,0.073102,-0.016153,0.000039,0.052231,850000.0,False
3,AMT_CREDIT,"[850000.0,1350000.0)",16452,0.197160,15473,979,0.059506,-0.236493,0.009976,0.052231,1350000.0,False
4,AMT_CREDIT,"[1350000.0,inf)",5655,0.067769,5423,232,0.041026,-0.627839,0.020549,0.052231,inf,False

----------------------------------------------------------------------------------------------------
EXT_SOURCE_2  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,EXT_SOURCE_2,"[-inf,0.2)",5711,0.068440,4639,1072,0.187708,1.058855,0.119732,0.26048,0.2,False
1,EXT_SOURCE_2,"[0.2,0.4)",11464,0.137384,10146,1318,0.114969,0.482864,0.039363,0.26048,0.4,False
2,EXT_SOURCE_2,"[0.4,0.6000000000000001)",26021,0.311834,24067,1954,0.075093,0.012865,0.000052,0.26048,0.6000000000000001,False
3,EXT_SOURCE_2,"[0.6000000000000001,inf)",40249,0.482342,38401,1848,0.045914,-0.510152,0.101332,0.26048,inf,False

----------------------------------------------------------------------------------------------------
REG_CITY_NOT_LIVE_CITY  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REG_CITY_NOT_LIVE_CITY,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
FLAG_EMAIL  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_EMAIL,"[-inf,1.0)",77179,0.924909,71430,5749,0.074489,0.004136,0.000016,0.000216,1.0,False
1,FLAG_EMAIL,"[1.0,inf)",6266,0.075091,5823,443,0.070699,-0.052173,0.000200,0.000216,inf,False

----------------------------------------------------------------------------------------------------
NAME_CONTRACT_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_CONTRACT_TYPE,Revolving loans,8606,0.103134,8210,396,0.046014,-0.507866,0.021493,0.023451,Revolving loans,False
1,NAME_CONTRACT_TYPE,Cash loans,74839,0.896866,69043,5796,0.077446,0.046266,0.001958,0.023451,Cash loans,False

----------------------------------------------------------------------------------------------------
HOUR_APPR_PROCESS_START  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,HOUR_APPR_PROCESS_START,"[-inf,9.0)",9019,0.108083,8242,777,0.086151,0.162270,0.003050,0.009088,9.0,False
1,HOUR_APPR_PROCESS_START,"[9.0,15.0)",50568,0.606004,46714,3854,0.076214,0.028895,0.000512,0.009088,15.0,False
2,HOUR_APPR_PROCESS_START,"[15.0,17.0)",13811,0.165510,12874,937,0.067844,-0.096454,0.001478,0.009088,17.0,False
3,HOUR_APPR_PROCESS_START,"[17.0,inf)",10047,0.120403,9423,624,0.062108,-0.190931,0.004048,0.009088,inf,False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_MON  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_MON,"[-inf,1.0)",67648,0.810690,62585,5063,0.074843,0.009261,0.000070,0.002357,1.0,False
1,AMT_REQ_CREDIT_BUREAU_MON,"[1.0,2.0)",11222,0.134484,10372,850,0.075744,0.022199,0.000067,0.002357,2.0,False
2,AMT_REQ_CREDIT_BUREAU_MON,"[2.0,inf)",4575,0.054827,4296,279,0.060984,-0.210400,0.002220,0.002357,inf,False

----------------------------------------------------------------------------------------------------
DAYS_ID_PUBLISH  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DAYS_ID_PUBLISH,"[-inf,-4300.0)",18720,0.224339,17636,1084,0.057906,-0.265457,0.014129,0.024043,-4300.0,False
1,DAYS_ID_PUBLISH,"[-4300.0,-4100.0)",5895,0.070645,5502,393,0.066667,-0.115230,0.000893,0.024043,-4100.0,False
2,DAYS_ID_PUBLISH,"[-4100.0,-1900.0)",33923,0.406531,31362,2561,0.075495,0.018628,0.000142,0.024043,-1900.0,False
3,DAYS_ID_PUBLISH,"[-1900.0,inf)",24907,0.298484,22753,2154,0.086482,0.166457,0.008879,0.024043,inf,False

----------------------------------------------------------------------------------------------------
FLAG_CONT_MOBILE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_CONT_MOBILE,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
EXT_SOURCE_3  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,EXT_SOURCE_3,"[-inf,0.2)",6982,0.083672,5621,1361,0.194930,1.105538,0.162557,0.371235,0.2,False
1,EXT_SOURCE_3,"[0.2,0.30000000000000004)",7606,0.091150,6626,980,0.128846,0.612624,0.044414,0.371235,0.30000000000000004,False
2,EXT_SOURCE_3,"[0.30000000000000004,0.4)",10801,0.129439,9796,1005,0.093047,0.246841,0.008763,0.371235,0.4,False
3,EXT_SOURCE_3,"[0.4,0.6000000000000001)",27651,0.331368,25932,1719,0.062168,-0.189907,0.011026,0.371235,0.6000000000000001,False
4,EXT_SOURCE_3,"[0.6000000000000001,inf)",30405,0.364372,29278,1127,0.037066,-0.733450,0.144475,0.371235,inf,False

----------------------------------------------------------------------------------------------------
AMT_INCOME_TOTAL  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_INCOME_TOTAL,"[-inf,170000.0)",42400,0.508119,39027,3373,0.079552,0.075376,2.981205e-03,0.0129,170000.0,False
1,AMT_INCOME_TOTAL,"[170000.0,270000.0)",26444,0.316903,24482,1962,0.074195,-0.000146,6.771248e-09,0.0129,270000.0,False
2,AMT_INCOME_TOTAL,"[270000.0,inf)",14601,0.174978,13744,857,0.058695,-0.251092,9.919282e-03,0.0129,inf,False

----------------------------------------------------------------------------------------------------
FLAG_WORK_PHONE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_WORK_PHONE,"[-inf,1.0)",65542,0.785451,60808,4734,0.072228,-0.029123,0.000658,0.002937,1.0,False
1,FLAG_WORK_PHONE,"[1.0,inf)",17903,0.214549,16445,1458,0.081439,0.100872,0.002279,0.002937,inf,False

----------------------------------------------------------------------------------------------------
FLAG_PHONE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_PHONE,"[-inf,1.0)",57333,0.687075,52859,4474,0.078035,0.054482,0.002087,0.007043,1.0,False
1,FLAG_PHONE,"[1.0,inf)",26112,0.312925,24394,1718,0.065794,-0.129349,0.004956,0.007043,inf,False

----------------------------------------------------------------------------------------------------
REG_REGION_NOT_WORK_REGION  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REG_REGION_NOT_WORK_REGION,"[-inf,1.0)",79108,0.948026,73240,5868,0.074177,-0.000400,1.518447e-07,0.000003,1.0,False
1,REG_REGION_NOT_WORK_REGION,"[1.0,inf)",4337,0.051974,4013,324,0.074706,0.007277,2.760647e-06,0.000003,inf,False

----------------------------------------------------------------------------------------------------
REGION_RATING_CLIENT  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REGION_RATING_CLIENT,"[-inf,2.0)",12307,0.147486,11719,588,0.047778,-0.468412,0.026575,0.038584,2.0,False
1,REGION_RATING_CLIENT,"[2.0,3.0)",60094,0.720163,55549,4545,0.075632,0.020590,0.000308,0.038584,3.0,False
2,REGION_RATING_CLIENT,"[3.0,inf)",11044,0.132351,9985,1059,0.095889,0.280069,0.011700,0.038584,inf,False

----------------------------------------------------------------------------------------------------
NAME_INCOME_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_INCOME_TYPE,"Businessman%,%Student%,%State servant",7238,0.086740,6885,353,0.048770,-0.446805,0.014349,0.026687,"Businessman%,%Student%,%State servant",False
1,NAME_INCOME_TYPE,Commercial associate,25733,0.308383,24037,1696,0.065908,-0.127494,0.004748,0.026687,Commercial associate,False
2,NAME_INCOME_TYPE,Working,50474,0.604877,46331,4143,0.082082,0.109436,0.007590,0.026687,Working,False

----------------------------------------------------------------------------------------------------
FLAG_EMP_PHONE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_EMP_PHONE,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
REG_CITY_NOT_WORK_CITY  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REG_CITY_NOT_WORK_CITY,"[-inf,1.0)",71690,0.859129,66535,5155,0.071907,-0.033933,0.000975,0.006384,1.0,False
1,REG_CITY_NOT_WORK_CITY,"[1.0,inf)",11755,0.140871,10718,1037,0.088218,0.188235,0.005409,0.006384,inf,False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_QRT  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_QRT,"[-inf,1.0)",67961,0.814441,62865,5096,0.074984,0.011294,0.000104,0.003358,1.0,False
1,AMT_REQ_CREDIT_BUREAU_QRT,"[1.0,2.0)",10483,0.125628,9801,682,0.065058,-0.141382,0.002365,0.003358,2.0,False
2,AMT_REQ_CREDIT_BUREAU_QRT,"[2.0,inf)",5001,0.059932,4587,414,0.082783,0.118712,0.000888,0.003358,inf,False

----------------------------------------------------------------------------------------------------
NAME_HOUSING_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_HOUSING_TYPE,"Office apartment%,%House / apartment%,%Co-op a...",78623,0.942213,72924,5699,0.072485,-0.025299,0.000597,0.00888,"Office apartment%,%House / apartment%,%Co-op a...",False
1,NAME_HOUSING_TYPE,"Rented apartment%,%With parents",4822,0.057787,4329,493,0.102240,0.351245,0.008283,0.00888,"Rented apartment%,%With parents",False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_DAY  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_DAY,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
AMT_REQ_CREDIT_BUREAU_WEEK  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,AMT_REQ_CREDIT_BUREAU_WEEK,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
REG_REGION_NOT_LIVE_REGION  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,REG_REGION_NOT_LIVE_REGION,"[-inf,inf)",83445,1.0,77253,6192,0.074205,0.0,0.0,0.0,inf,False

----------------------------------------------------------------------------------------------------
FLAG_OWN_REALTY  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,FLAG_OWN_REALTY,Y,57582,0.690059,53354,4228,0.073426,-0.011392,0.000089,0.000285,Y,False
1,FLAG_OWN_REALTY,N,25863,0.309941,23899,1964,0.075939,0.024974,0.000195,0.000285,N,False

----------------------------------------------------------------------------------------------------
ORGANIZATION_TYPE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,ORGANIZATION_TYPE,"Industry: type 8%,%Industry: type 13%,%Trade: ...",7428,0.089017,7136,292,0.039311,-0.672326,0.030399,0.062711,"Industry: type 8%,%Industry: type 13%,%Trade: ...",False
1,ORGANIZATION_TYPE,"Emergency%,%Military%,%Industry: type 2%,%Medi...",20509,0.245779,19309,1200,0.058511,-0.254422,0.014285,0.062711,"Emergency%,%Military%,%Industry: type 2%,%Medi...",False
2,ORGANIZATION_TYPE,"Transport: type 2%,%Industry: type 11%,%Indust...",10769,0.129055,9974,795,0.073823,-0.005567,0.000004,0.062711,"Transport: type 2%,%Industry: type 11%,%Indust...",False
3,ORGANIZATION_TYPE,"Business Entity Type 1%,%Advertising%,%Busines...",44739,0.536150,40834,3905,0.087284,0.176570,0.018024,0.062711,"Business Entity Type 1%,%Advertising%,%Busines...",False

----------------------------------------------------------------------------------------------------
NAME_FAMILY_STATUS  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,NAME_FAMILY_STATUS,"Widow%,%Married",55529,0.665456,51720,3809,0.068595,-0.084650,0.004600,0.01423,"Widow%,%Married",False
1,NAME_FAMILY_STATUS,Separated,6171,0.073953,5699,472,0.076487,0.032761,0.000080,0.01423,Separated,False
2,NAME_FAMILY_STATUS,"Single / not married%,%Civil marriage",21745,0.260591,19834,1911,0.087882,0.184057,0.009549,0.01423,"Single / not married%,%Civil marriage",False

----------------------------------------------------------------------------------------------------
OBS_30_CNT_SOCIAL_CIRCLE  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,OBS_30_CNT_SOCIAL_CIRCLE,"[-inf,1.0)",44667,0.535287,41463,3204,0.071731,-0.036574,0.000705,0.003016,1.0,False
1,OBS_30_CNT_SOCIAL_CIRCLE,"[1.0,2.0)",13466,0.161376,12461,1005,0.074632,0.006211,0.000006,0.003016,2.0,False
2,OBS_30_CNT_SOCIAL_CIRCLE,"[2.0,6.0)",20047,0.240242,18524,1523,0.075971,0.025442,0.000157,0.003016,6.0,False
3,OBS_30_CNT_SOCIAL_CIRCLE,"[6.0,inf)",5265,0.063095,4805,460,0.087369,0.177642,0.002148,0.003016,inf,False

----------------------------------------------------------------------------------------------------
CNT_CHILDREN  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,CNT_CHILDREN,"[-inf,1.0)",53710,0.643657,49760,3950,0.073543,-0.009668,5.991886e-05,0.000201,1.0,False
1,CNT_CHILDREN,"[1.0,2.0)",20659,0.247576,19092,1567,0.075851,0.023721,1.407245e-04,0.000201,2.0,False
2,CNT_CHILDREN,"[2.0,inf)",9076,0.108766,8401,675,0.074372,0.002434,6.451863e-07,0.000201,inf,False

----------------------------------------------------------------------------------------------------
DAYS_BIRTH  :

,variable,bin,count,count_distr,good,bad,badprob,woe,bin_iv,total_iv,breaks,is_special_values
0,DAYS_BIRTH,"[-inf,-19500.0)",10912,0.130769,10399,513,0.047012,-0.485361,0.025123,0.056474,-19500.0,False
1,DAYS_BIRTH,"[-19500.0,-14000.0)",37466,0.448990,34969,2497,0.066647,-0.115544,0.005707,0.056474,-14000.0,False
2,DAYS_BIRTH,"[-14000.0,-11000.0)",21954,0.263095,20084,1870,0.085178,0.149843,0.006297,0.056474,-11000.0,False
3,DAYS_BIRTH,"[-11000.0,inf)",13113,0.157145,11801,1312,0.100053,0.327196,0.019347,0.056474,inf,False

----------------------------------------------------------------------------------------------------

In [35]:
pd.options.display.max_seq_items = 2000

for variables , bindetails in bins.items():
    if variables == 'OCCUPATION_TYPE':
        print(str(bindetails.bin[2]))

Cleaning staff%,%Sales staff%,%Laborers%,%Security staff%,%Cooking staff%,%Drivers%,%Waiters/barmen staff%,%Low-skill Laborers

In [17]:
scorecard_set = working_set[['STATUS', 'DAYS_EMPLOYED', 'OCCUPATION_TYPE', 'AMT_CREDIT', 'DAYS_BIRTH', 'ORGANIZATION_TYPE','NAME_EDUCATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3']] 

scorecard_set.head()

,STATUS,DAYS_EMPLOYED,OCCUPATION_TYPE,AMT_CREDIT,DAYS_BIRTH,ORGANIZATION_TYPE,NAME_EDUCATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3
0,1,-637,Laborers,406597.5,-9461,Business Entity Type 3,Secondary / secondary special,0.262949,0.139376
12,0,-2717,Laborers,80865.0,-13439,Business Entity Type 2,Secondary / secondary special,0.715042,0.176653
13,0,-3028,Drivers,918468.0,-14086,Self-employed,Secondary / secondary special,0.566907,0.770087
18,0,-7804,Laborers,157500.0,-17718,Housing,Secondary / secondary special,0.706428,0.556727
22,0,-4306,Sales staff,497520.0,-11146,Self-employed,Secondary / secondary special,0.457143,0.358951

In [26]:
#Train-test split 
train, test = sc.split_df(scorecard_set, 'STATUS', ratio=0.7).values()
print(train.shape)
print(test.shape)

(58411, 9)
(25034, 9)

In [27]:
# prepare a dataset with the WOE values for Logistic Regression training
# woebin_ply() converts original values of input data into woe
train_woe = sc.woebin_ply(train, bins)
test_woe = sc.woebin_ply(test, bins)
train_woe

[INFO] converting into woe values ...
[INFO] converting into woe values ...

        STATUS  NAME_EDUCATION_TYPE_woe  EXT_SOURCE_3_woe  DAYS_EMPLOYED_woe  EXT_SOURCE_2_woe  ORGANIZATION_TYPE_woe  OCCUPATION_TYPE_woe  DAYS_BIRTH_woe  AMT_CREDIT_woe
0            1                 0.141677          1.105538           0.258284          0.482864               0.176570             0.222740        0.327196        0.182054
12           0                 0.141677          1.105538          -0.174849         -0.510152              -0.005567             0.222740        0.149843       -0.217545
13           0                 0.141677         -0.733450          -0.174849          0.012865               0.176570             0.222740       -0.115544       -0.236493
18           0                 0.141677         -0.189907          -0.577772         -0.510152              -0.254422             0.222740       -0.115544       -0.217545
24           0                 0.141677         -0.189907           0.258284         -0.510152               0.176570             0.222740        0.149843        0.182054
...        ...                      ...               ...                ...               ...                    ...                  ...             ...             ...
307495       0                -0.396824         -0.189907          -0.577772          0.482864               0.176570            -0.324802       -0.485361       -0.016153
307498       0                 0.141677         -0.189907          -0.174849         -0.510152               0.176570             0.222740       -0.115544       -0.236493
307508       0                -0.396824          0.612624          -0.577772          0.012865              -0.672326            -0.324802       -0.115544       -0.016153
307509       1                 0.141677         -0.733450          -0.577772          0.012865               0.176570             0.222740        0.149843        0.182054
307510       0                -0.396824          1.105538           0.258284         -0.510152               0.176570             0.222740       -0.115544       -0.016153

[58411 rows x 9 columns]

In [30]:
#create the X, y parts of data for train and test
y_train = train_woe.loc[:,'STATUS']
X_train = train_woe.loc[:,train_woe.columns != 'STATUS']
y_test = test_woe.loc[:,'STATUS']
X_test = test_woe.loc[:,train_woe.columns != 'STATUS']

#create a logistic regression model object
lr = LogisticRegression()
lr.fit(X_train, y_train)
print("beta coefficients:")
print(lr.coef_)
print("alpha")
print(lr.intercept_)

beta coefficients:
[[0.55297102 0.874467   0.45848257 0.80057013 0.57790652 0.39097372
  0.2559806  0.63980556]]
alpha
[-2.52321225]

In [31]:
# generate a card from the model and bins
card = sc.scorecard(bins, lr, X_train.columns, points0 = 600, odds0 = 1/20, pdo = 20,
      basepoints_eq0 = True)

pprint.pprint(card)

{'AMT_CREDIT':       variable                   bin  points
43  AMT_CREDIT       [-inf,200000.0)    77.0
44  AMT_CREDIT   [200000.0,650000.0)    70.0
45  AMT_CREDIT   [650000.0,850000.0)    74.0
46  AMT_CREDIT  [850000.0,1350000.0)    78.0
47  AMT_CREDIT       [1350000.0,inf)    85.0,
 'DAYS_BIRTH':        variable                  bin  points
116  DAYS_BIRTH      [-inf,-19500.0)    77.0
117  DAYS_BIRTH  [-19500.0,-14000.0)    74.0
118  DAYS_BIRTH  [-14000.0,-11000.0)    72.0
119  DAYS_BIRTH       [-11000.0,inf)    71.0,
 'DAYS_EMPLOYED':          variable                bin  points
10  DAYS_EMPLOYED     [-inf,-4200.0)    81.0
11  DAYS_EMPLOYED  [-4200.0,-2000.0)    76.0
12  DAYS_EMPLOYED  [-2000.0,-1400.0)    73.0
13  DAYS_EMPLOYED      [-1400.0,inf)    70.0,
 'EXT_SOURCE_2':         variable                       bin  points
48  EXT_SOURCE_2                [-inf,0.2)    49.0
49  EXT_SOURCE_2                 [0.2,0.4)    62.0
50  EXT_SOURCE_2  [0.4,0.6000000000000001)    73.0
51  EXT_SOURCE_2  [0.6000000000000001,inf)    85.0,
 'EXT_SOURCE_3':         variable                        bin  points
69  EXT_SOURCE_3                 [-inf,0.2)    45.0
70  EXT_SOURCE_3  [0.2,0.30000000000000004)    58.0
71  EXT_SOURCE_3  [0.30000000000000004,0.4)    67.0
72  EXT_SOURCE_3   [0.4,0.6000000000000001)    78.0
73  EXT_SOURCE_3   [0.6000000000000001,inf)    92.0,
 'NAME_EDUCATION_TYPE':               variable                                                bin  points
0  NAME_EDUCATION_TYPE                 Academic degree%,%Higher education    80.0
1  NAME_EDUCATION_TYPE  Incomplete higher%,%Secondary / secondary spec...    71.0,
 'OCCUPATION_TYPE':            variable                                                bin  points
40  OCCUPATION_TYPE                             IT staff%,%Accountants    80.0
41  OCCUPATION_TYPE  Managers%,%Core staff%,%High skill tech staff%...    77.0
42  OCCUPATION_TYPE  Cleaning staff%,%Sales staff%,%Laborers%,%Secu...    71.0,
 'ORGANIZATION_TYPE':               variable                                                bin  points
102  ORGANIZATION_TYPE  Industry: type 8%,%Industry: type 13%,%Trade: ...    85.0
103  ORGANIZATION_TYPE  Emergency%,%Military%,%Industry: type 2%,%Medi...    78.0
104  ORGANIZATION_TYPE  Transport: type 2%,%Industry: type 11%,%Indust...    73.0
105  ORGANIZATION_TYPE  Business Entity Type 1%,%Advertising%,%Busines...    70.0,
 'basepoints':      variable  bin  points
0  basepoints  NaN       0}

In [ ]:
#Check the score card for occupation_type 
#See if drivers are discriminated against